.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
  }
  
  .search-container input {
    height: 32px;
    width: 400px;
    padding: 0px 12px 0px 12px;
  }
  
  #scrollable-dropdown-menu .tt-dropdown-menu {
    max-height: 150px;
    overflow-y: auto;
  }