.forecast-container {
    margin: auto;
    display: flex;
  }
  .forecast-inner-container {
    margin: auto;
    text-align: center;
  }
  .thumbnail {
    margin: auto;
    padding: 10px;
  }
  .caption {
    margin: auto;
    padding: 10px;
  }
