.current-weather-container {
    margin: auto;
    padding: 10px;
    display: flex;
    
}
.current-weather-inner-container {
    display: flex;
    padding: 10px;
}
.center {
    flex: 4;
}
.left {
    justify-content: center;
}
.right {
    flex: 0.2;
  }
