.location-container {
    margin: auto;
    width: 50%;
    /* border: 3px solid green; */
    padding: 10px;
    display: flex;
    /* text-align: center; */
    border-bottom: 1px solid orangered;
}
.center {
    flex: 4;
}
.right {
    flex: 0.2;
}

